
.cuc{
  margin: 0;
  left: 100px;
}
.cut{

  margin-bottom: 20px;

}

.error {
  color: red;
  margin: 0;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
